@model IEnumerable < CYJ.Models.ABOUT >
    @{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#click").click(function () {
                $('html, body').animate({
                    scrollTop: $("#div1").offset().top
                }, 2000);
            });
        });
    </script>

</head>
<body>
        <div class="alert alert-info" style="BACKGROUND-COLOR:#3EC2CF">
            <span>
                Welcome to the CYJ Dashboard!
            </span>
        </div>


    <div class="content">
        <div class="container-fluid">
            <div row>
                <!--About-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                            <h4 class="title">ABOUT THE DASHBOARD</h4>
                        </div>

                        <div class="card-content">
                            <div class="row">
                               
                                    <table class="table">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.aboutHeader)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.aboutBody)
                                                </td>
                                            </tr>
                                        }
                                    </table>
  

                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Calendar-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                            <h4 class="title">
                                UPCOMING DASHBOARD MEETINGS
                            </h4>

                        </div>
                        <div class="card-content">
                            <div id="calender"></div>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"><span id="eventTitle"></span></h4>
                                        </div>
                                        <div class="modal-body">
                                            <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                                                <span class="glyphicon glyphicon-remove"></span> Remove
                                            </button>
                                            <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                                <span class="glyphicon glyphicon-pencil"></span> Edit
                                            </button>
                                            <p id="pDetails"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="myModalSave" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Save Event</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <input type="hidden" id="hdEventID" value="0" />
                                                <div class="form-group">
                                                    <label>Subject</label>
                                                    <input type="text" id="txtSubject" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label>Start</label>
                                                    <div class="input-group date" id="dtp1">
                                                        <input type="text" id="txtStart" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group" id="divEndDate" style="display:none">
                                                    <label>End</label>
                                                    <div class="input-group date" id="dtp2">
                                                        <input type="text" id="txtEnd" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                                </div>

                                                <button type="button" id="btnSave" class="btn btn-success">Save</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Links-->
            <div class="row">
                <div class="col-md-6">
                   
                    <div class="card">
                        <div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                            <h4 class="title">CONTENT LINKS</h4>
                        </div>
                        <ul style="font-size:20px">
                            <li class="margin" color:black>@Html.ActionLink("Service Delivery", "Index", "Home")</li>
                            <li class="margin" color:black>@Html.ActionLink("Corps Member Experience", "Index", "Home")</li>
                            <li class="margin" color:black>@Html.ActionLink("External Affairs", "Index", "Home")</li>
                            <li class="margin" color:black>@Html.ActionLink("Revenue", "Index", "Home")</li>
                            <li class="margin" color:black>@Html.ActionLink("OPEX", "Index", "Home")</li>
                            <li class="margin" color:black>@Html.ActionLink("RAD", "Index", "Home")</li>
                        </ul>

                    </div>
                    <br />

                </div>
            </div>
        </div>
    </div>
                       
</body>
