@model IEnumerable<CYJ.Models.ABOUT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<!doctype html>
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <center><div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                <h4 class="title">ABOUT POSTS</h4>
            </div></center>
            <div class="card-content">
                <center>
                    <p>
                        @Html.ActionLink("Create New Post", "Create")
                    </p>
                    <table class="table">

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.aboutHeader)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.aboutBody)
                            </td>
                            <td>
                                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" type="button" style="background-color:#FBAE3B" title="Edit"
                                        onclick="location.href='@Url.Action("Edit", new { id = item.aboutID })'">
                                    <i class="material-icons ">create</i>
                                </button>
                                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" type="button" style="background-color:#F37158" title="Delete"
                                        onclick="location.href='@Url.Action("Delete", new { id = item.aboutID })'">
                                    <i class="material-icons">delete</i>
                                </button>

                            </td>
                        </tr>
                        }
                    </table>
                </center>
            </div>
        </div>
    </div>
</div>
