@model IEnumerable<CYJ.Models.TEAM>

@{
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Teams</h2>

<p>
    <div class="col-md-3">
        <input type="button" rel="tooltip" title="Redirects to insert a team" class="btn btn-info" value="ADD A NEW TEAM" onclick="@("window.location.href='" + @Url.Action("Create", "Teams") + "'");" />
    </div>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" rel="tooltip" title="Click to Edit Team" type="button" style="background-color:#FBAE3B" title="Edit"
                        onclick="location.href='@Url.Action("Edit", new { id = item.TeamID })'">
                    <i class="material-icons ">create</i>
                </button>
                
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" rel="tooltip" title="Click to Deactivate Team" type="button" style="background-color:#F37158" title="Delete"
                        onclick="location.href='@Url.Action("Delete", new { id = item.TeamID })'">
                    <i class="material-icons">delete</i>
                </button>
            </td>

        </tr>
    }

</table>

<div class="col-md-3">
    <input type="button" class="btn btn-info"  rel="tooltip" title="Redirects to Add A New Item" value="Back to Add A New Item" onclick="@("window.location.href='" + @Url.Action("Add", "Home") + "'");" />
</div>
