@model IEnumerable<CYJ.Models.QUARTERLYUPDATE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";

}
<!doctype html>
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <center>
                <div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                    <h4 class="title">QUARTERLY UPDATES</h4>
                </div>
            </center>
            <div class="card-content">

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.updateHeader)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.updateBody)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.updateDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.updateHeader)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updateBody)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.updateDate)
                            </td>
                            <td>
                                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" type="button" style="background-color:#FBAE3B" title="Edit"
                                        onclick="location.href='@Url.Action("Edit", new { id = item.updateID })'">
                                    <i class="material-icons ">create</i>
                                </button>
                                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" type="button" style="background-color:#F37158" title="Delete"
                                        onclick="location.href='@Url.Action("Delete", new { id = item.updateID })'">
                                    <i class="material-icons">delete</i>
                                </button>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
